synkronus/.env
.vscode
**/.vscode
.idea
**/.idea

# Android release keys
formulus/android/keystores/
*.jks
*.keystore
local.properties

# Formplayer built assets
formulus/android/app/src/main/assets/formplayer_dist/